version: '3'
services:
  web:
    build: .
    image: ${IMAGE:-rex/homesite}:${TAG:-latest}
    ports:
      - "80:80"
      - "443:443"
    environment:
      - LANG=en_US.UTF-8
    volumes:
      - ./www:/usr/share/nginx/html/tmp

  build:
    image: node:17-alpine
    volumes:
      - /app:/app
    working_dir: /app
